.App {
  background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .container {
  margin-top: 20vh;
} */

.large-menu-classname ul li{
  display: inline-block;
  margin: 10px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  .alert-hidden {
    display: none;
  }